.contenedor {
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 30px;
}

.h3 {
  color: #fff;
  padding-right: 15px;
  font-size: 40px;
}





